---
layout: page
description: "(Thought && Language)++"
---
<div id="synopsis">
    <div class="col-sm-4">
        <div class="icon">
            <i class="fa fa-th-large"></i>
        </div>
        <div class="text">
            <h4>Language 2.0 with new semantic packaging</h4>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icon">
            <i class="fa fa-connectdevelop"></i>
        </div>
        <div class="text">
            <h4>Fully compatible with Language 1.0</h4>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="icon">
            <i class="fa fa-group"></i>
        </div>
        <div class="text">
            <h4>Usable for self, groups and systems</h4>
        </div>
    </div>
</div>
<div class="clearfix" />
<hr />

<div class="header-border"><h2>Codes</h2></div>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-title">{{ post.title }}</h3>
        {% if post.subtitle %}
            <h4 class="post-subtitle">
                {{ post.subtitle }}
            </h4>
        {% endif %}
    </a>
    <p class="post-meta">Version {% if post.version %}{{ post.revision }}{% else %}0.0.1{% endif %}. Intial commit {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<p>More code will be posted soon. If you want a notification of newly posted code follow @culturecode in Twitter or subscribe RSS-feed.</p>
