<!-- About Section -->
<section id="what" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Culture Code?</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Culture Code is a system for expressing action and interaction. Through it, language is not just read and understood, but functions like a "program" that can used for new patterns of behavior. It is not strictly a language, which is too monolithic a concept for packaging meaning. Rather, it offers new formats that plug into language, providing new approaches to its usage. They provide you with modifying layers, trigger conditions, functions that spit output, and systems that you can use as a framework for your process.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Why would I use it?</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                The simple answer: to get elsewhere. Culture Code makes language behave more like a game, and makes using it more like play. Of course, this means that to really process code, you cannot just sit and read (at least in most cases). Culture Code is an expression of what to DO, not just understand.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Isn't code a command, something you simply obey?</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                Yes with computers, but emphatically no with humans. In our experiments, we’ve noticed that code is no more commanding than any other expression: when engaging with the code, the users perceive it in terms of possibilities it opens, and form an opinion about them. We test them out and evaluate. We think of variations and modifications. In other words, code comes across as suggestion. When we interpret, whether traditionally or in the case of the code, everything appears as a choice, a possibility. Which is what the code is all about: opening up the possibilities of human behavior, expanding the options we see, whatever the situation.<p>
                                <p class="text-muted">
                                The sense of freedom is not based on abstract principles, but concrete options -- and this is exactly what Culture Code can create.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>How can use it?</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                For starters, there are few examples below. For the whole system, you will have to wait a bit longer. We are finalizing the first version of the code which will open up the initial playground, for you to use and expand further...
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>What's in the horizon?</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The aim of the project is not merely to develop the code, but also to utilize the possibilities it opens. With such code, we have the possibility to create detailed actions like fiction, share and combine them with others. Think of an open source cultural library that functions like a programming library, directly supporting the creation of new forms – that’s the long-term target.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>How can I take part now?</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Send an email to: <a href="mailto:cuco.self@gmail.com">cuco.self@gmail.com</a>  You don't have to write any long litanies (you can if you want to) -- just express your interest and we'll get back to you.
                                </p>
                                <p class="text-muted">
                                From us you can get test material, take part in experiments etc. We're quite flexible in terms of participation.</p>
                            </div>
                        </div>
                    </li>

<!-- 
                    <li>
                        <div class="timeline-image">
                            <h4>Become
                                <br>a culture
                                <br>coder</h4>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
