<!-- Portfolio Grid Section -->
<section id="codes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Codes</h2>
                <h3 class="section-subheading text-muted">Here you have few tested and proven codes to start with. More codes will be posted soon.</h3>
            </div>
        </div>
        {% for post in paginator.posts %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h3 class="post-title">{{ post.title }}</h3>
                {% if post.subtitle %}
                <h4 class="post-subtitle">
                    {{ post.subtitle }}
                </h4>
                {% endif %}
            </a>
            <p class="post-meta">Version {% if post.version %}{{ post.revision }}{% else %}0.0.1{% endif %}. Initial commit {{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
        {% endfor %}

        <!-- Pager -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer code</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older codes &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>
